@tailwind base;
@tailwind components;
@tailwind utilities;





.carousel-inner {
    height: 90svh;
}

.img-carousel1 {
    background: url("/images/pexels-rene-asmussen-2977514.jpg") no-repeat center center;
    background-size: cover;
    height: 90svh;
}
.img-carousel2 {
    background: url("/images/pexels-franciano-puhales-[ff]-13247705.jpg") no-repeat center center;
    background-size: cover;
    height: 90svh;

}
.img-carousel3 {
    background: url("/images/pexels-chokniti-khongchum-3938023.jpg") no-repeat top center;
    background-size: cover;
    height: 90svh;
}


/* integafoods.jsx*/
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 




.eb-garamond-fonte-altenativa {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}